  <aside>
    <ul>
      <a href="#" routerLink="/home" routerActiveLink="active">
        <li>
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </li>
      </a>
    </ul>

    <ul>
      <a href="#" routerLink="/usuarios" routerActiveLink="active">
        <li>
          <i class="fa fa-user" aria-hidden="true"></i> Usuarios
        </li>
      </a>
    </ul>


    <ul>
      <a href="#">
        <li>
          <i class="fa fa-codepen" aria-hidden="true"></i> Codepen
        </li>
      </a>
    </ul>


    <ul>
      <a href="#">
        <li>
          <i class="fa fa-envira" aria-hidden="true"></i> Envira
        </li>
      </a>
    </ul>

    <ul>
      <a href="#">
        <li>
          <i class="fa fa-firefox" aria-hidden="true"></i> Firefox
        </li>
      </a>
    </ul>

  </aside>

