*{
    margin: 0px;
    padding: 0px;
}

aside ul li{
    color: #fff;
    padding: 12px 15px;
    text-align: left;
    list-style: none;
    transition: background .7s , color .4s ;
}

aside ul li:hover{
    background: #0ec29b;
}

aside ul a{
    text-decoration: none;
}