<h1 class="text-center text-info">
  {{title}}
</h1>

<img src="https://www.appdynamics.com/media/uploaded-images/1477358207/.thumbnails/app-icon-600x0.png" alt="Applciation"
  class="center-block img-responsive" width="230px">

<div class="container-fluid">
  <h2>{{subtitle}}</h2>
  <p>{{contenido}}</p>

  <div class="row">
    <div class="col-md-4 well well-sm">
      <h3 class="text-center">{{info1}}</h3>
      <p>{{contenido}}</p>
    </div>
    <div class="col-md-4 well well-sm">
      <h3 class="text-center">{{info2}}</h3>
      <p>{{contenido}}</p>
    </div>
    <div class="col-md-4 well well-sm">
      <h3 class="text-center">{{info3}}</h3>
      <p>{{contenido}}</p>
    </div>
  </div>
</div>
